.form-cont{
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
}
form{
    height: 400px;
    padding: 50px;
    width: 400px;
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
form:hover{
    scale: 1.003;
    transition: o.10s all ease-in-out;
}
.form-heading{
    text-align: center;
    font-family: gilroy;
    font-weight: bold;
    font-size: 34px;
}
label{
    font-size: 15px;
    font-weight: bold;
    
}
input{
    padding: 7px 60px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    margin: 10px;

}
input:hover{
    box-shadow: 0.1px 0.1px 10px 3px lawngreen;
}
.submit-btn{
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    display: block;
    /* margin-top: 40px; */
    margin: 0 auto;
}
.submit-btn:hover{
    box-shadow: 0.1px 0.1px 10px 3px lawngreen;
}